ipython
channels
django>=2.2.4
django-debug-toolbar
django-redis
django-redis_sessions
# doc can see https://django-mysql.readthedocs.io/en/latest/model_fields/json_field.html#jsonfield
django-mysql
mysqlclient
django-celery
celery==5.2.2
requests
