#login {
    width: 480px;
    position: absolute;
    top: 45%;
    left: 50%;
    margin: -150px 0 0 -240px
}

#login > h1 {
    font-size: 36px;
    text-align: center;
    color: #2F4056;
    margin-bottom: 10px;
}

#login .login-left, #login .login-right {
    height: 300px
}

#login .login-left {
    float: left;
    width: 80px;
    background-color: #393d49;
    border-radius: 15px 0 0 15px
}

#login .login-right {
    float: right;
    width: 370px;
    padding-left: 30px;
    background-color: #fff;
    border-radius: 0 15px 15px 0
}

#login .login-right h1 {
    font-size: 36px;
    color: #2bb0d4;
    line-height: 90px
}

#login .login-right ul {
    padding-right: 30px
}

#login .login-right ul li {
    margin-bottom: 30px
}

.login-left > div.selected {
    border-radius: 15px 0 0 0;
    color: #393d49;
    background-color: #fbfbfb;
}

.login-left > div:last-child.selected {
    border-radius: 0 0 0 15px;
}

.login-left > div {
    height: 50%;
    width: 100%;
    color: #fff;
    text-align: center;
    line-height: 7;
    font-size: 18px;
}

.login-right > div {
    display: none;
}

.login-right form {
    margin: 70px 20px;
}

.footer {
    position: fixed;
    bottom: 10px;
    color: rgba(160, 160, 160, 0.86);
    width: 100%;
    text-align: center;
}

.clearfix:after, .clearfix:before {
    content: " ";
    display: table
}

.clearfix:after {
    clear: both
}

.banner {
    width: 100%;
    height: 100%;
    position: relative;
}

.banner .desc p {
    font-size: 14px;
    font-family: "Helvetica Neue", Helvetica, "PingFang SC", 微软雅黑, Tahoma, Arial, sans-serif;
    color: #eee;
    margin: 20px 0;
}

.banner #canvas {
    background: #000;
    position: absolute;
    left: 0;
    z-index: -1;
}
