@charset "UTF-8";
@font-face {
    font-family: webfont;
    src: url(//at.alicdn.com/t/o6v0x2x3su37syvi.eot);
    src: url(//at.alicdn.com/t/o6v0x2x3su37syvi.eot?#iefix) format("embedded-opentype"), url(//at.alicdn.com/t/o6v0x2x3su37syvi.woff) format("woff"), url(//at.alicdn.com/t/o6v0x2x3su37syvi.ttf) format("truetype"), url(//at.alicdn.com/t/o6v0x2x3su37syvi.svg#思源黑体-极细) format("svg")
}

blockquote, body, button, code, dd, div, dl, dt, fieldset, figcaption, figure, form, h1, h2, h3, h4, h5, h6, input, legend, li, menu, ol, p, pre, td, textarea, th, ul {
    margin: 0;
    padding: 0
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed
}

dd, dl, dt, li, menu, ol, ul {
    list-style: none
}

fieldset, img {
    border: none
}

button, img, input, object, select {
    vertical-align: middle
}

textarea {
    overflow: auto;
    vertical-align: top
}

abbr, address, b, button, caption, cite, code, dfn, em, i, input, select, small, strong, textarea, th, var {
    font-style: normal;
    border: none;
    border-radius: 0;
    outline: 0
}

button, select {
    text-transform: none
}

input, textarea {
    font-family: Arial
}

caption, th {
    text-align: left
}

address, cite, dfn, em, i, var {
    font-style: normal
}

blockquote, q {
    quotes: none
}

blockquote:after, blockquote:before, q:after, q:before {
    content: "";
    content: none
}

a {
    font-size: 14px;
    color: #323232;
    text-decoration: none;
    cursor: pointer
}

a:active, a:link, a:visited {
    color: #323232
}

a:focus, a:hover {
    color: #1aa094;
    text-decoration: none;
    outline: 0
}

a, a b, a button, a dd, a div, a dl, a dt, a em, a h1, a h2, a h3, a h4, a h5, a h6, a i, a img, a input, a li, a ol, a p, a select, a small, a span, a strong, a table, a td, a textarea, a th, a u, a ul {
    cursor: pointer
}

abbr[title], acronym[title] {
    border-bottom: 1px dotted;
    cursor: help
}

a, button, input, textarea {
    -webkit-tap-highlight-color: transparent
}

html {
    width: 100%;
    height: 100%
}

body {
    width: 100%;
    height: 100%;
    font-family: "Microsoft YaHei";
    font-size: 14px;
    color: #323232;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400
}

.fl {
    float: left !important
}

.fr {
    float: right !important
}

.tl {
    text-align: left
}

.tr {
    text-align: right
}

.tc {
    text-align: center
}

.hide {
    display: none !important
}

.show {
    display: block !important
}

.text-hide {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0
}

.hidden {
    display: none !important;
    visibility: hidden !important
}

.overflow-hidden {
    overflow: hidden
}

.placeholder {
    color: #a9a9a9
}

.col-extra, .col-sub {
    float: left;
    display: inline
}

.col-main {
    float: left;
    width: 100%;
    min-height: 1px
}

.clearfix:after, .clearfix:before {
    content: " ";
    display: table
}

.clearfix:after {
    clear: both
}

