<html>
<head>
    {% load static %}
    <meta charset="utf-8">
    <title>恒信永利运维平台</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.png' %}"/>
    <link rel="stylesheet" href="{% static 'layui/css/layui.css' %}" media="all">
    <link rel="stylesheet" href="{% static 'css/main.css' %}" media="all">
    <script>
        // 此处是为了防止页面被加载到iframe中
        if (window.frames.length !== parent.frames.length) {
            parent.window.location.reload();
        }
    </script>
</head>
<body>
<div class="layui-layout layui-layout-admin">
    <div class="layui-header header">
        <a class="logo" href="/">
            <img src="{% static 'img/logo.png' %}" alt="恒信永利"/>
        </a>
        <div class="custom-menu-ctrl">
            <i class="layui-icon layui-icon-shrink-right"></i>
        </div>
        <ul class="layui-nav">
            <li class="layui-nav-item">
                <a href="javascript:">
                    <i class="layui-icon" style="line-height: normal;">&#xe612;</i>
                    {{ request.user.name }}({{ request.user.account }})
                </a>
                <dl class="layui-nav-child"> <!-- 二级菜单 -->
                    <dd><a href="{% url 'platform:center' request.user.id %}"><i class="layui-icon">&#xe62a;</i> 用户中心</a>
                    </dd>
                    <dd><a href="{% url 'platform:setting' request.user.id %}#passwd"><i class="layui-icon">&#xe642;</i> 修改密码</a></dd>
                    <dd><a href="{% url 'platform:logout' %}"><i class="layui-icon">&#xe625;</i> 注销</a></dd>
                </dl>
            </li>
        </ul>
    </div>

    <div class="layui-side layui-side-menu">
        <div class="layui-side-scroll">
            <ul class="layui-nav layui-nav-tree" id="menu">
                <!-- 菜单 -->
            </ul>
        </div>
    </div>

    <div class="custom-body layui-body">
        <div class="layui-tab layui-tab-brief" lay-allowClose="true" lay-filter="body">
            <ul class="layui-tab-title">
            </ul>
            <div class="layui-btn-group tab-sliding">
                <button class="layui-btn layui-btn-xs layui-btn-normal">
                    <i class="layui-icon">&#xe603;</i>
                </button>
                <button class="layui-btn layui-btn-xs layui-btn-normal">
                    <i class="layui-icon">&#xe602;</i>
                </button>
            </div>
            <div class="layui-tab-content"></div>
        </div>
        <dl class="layui-tab-right-click-menu layui-anim layui-anim-upbit">
            <dd><a href="javascript:void(0)">刷新</a></dd>
            <dd><a href="javascript:void(0)">新标签页打开</a></dd>
            <dd><a href="javascript:void(0)">关闭</a></dd>
        </dl>
    </div>
</div>
<script src="{% static 'layui/layui.js' %}"></script>
<script>
    let menuJson = {% autoescape off %}{% if request.session.myMenu %}{{ request.session.myMenu }}{% else %}''{% endif %}{% endautoescape %};
    let needUpdateUserInfo = {% if not request.user.email and not request.user.mobile and request.user.ad %}true{% else %}false{% endif %}
    layui.config({
        base: "{% static 'js' %}/"
    });
    layui.use(['layer', 'myMenu', 'myTab'], function () {
        let element = layui.element;
        let menu = layui.myMenu('#menu');
        let myTab = layui.myTab();

        $('#menu a').on('click', function () {
            let self = $(this);
            let href = self.attr('href');
            if (href !== '#') {
                let hasIcon = self.find('cite');
                let tabName = $.trim(hasIcon.length ? hasIcon.text() : self.text());
                myTab.add(tabName, href);
            }
            return false;
        });

        if (needUpdateUserInfo) {
            layer.alert('为了正常功能的使用, 请填写手机号码和邮箱');
            $('.header .layui-nav-child > dd').eq(1).children().click();
        } else {
            layer.msg('欢迎进入 运维管理平台');
        }


        $('.custom-menu-ctrl').on('click', function () {
            let self = $(this);
            let iconDom = self.children('.layui-icon');
            let isRight = iconDom.hasClass('layui-icon-shrink-right');
            if (isRight) {
                toggleMenu(0);
            } else {
                toggleMenu(1);
            }

        });
        let menuDom = $('.layui-side.layui-side-menu');
        let menuWidth = menuDom.width();

        //  显示和隐藏菜单栏
        function toggleMenu(action) {
            let body = $('.custom-body');
            let left = 'layui-icon-spread-left';
            let right = 'layui-icon-shrink-right';
            let icon = $('.custom-menu-ctrl > .layui-icon');
            switch (action) {
                // 收回
                case 0:
                    $(window).off('resize');
                    menuDom.animate({'left': -menuWidth}, 'fast');
                    body.animate({'left': '0px'}, 'fast');
                    icon.removeClass(right).addClass(left);
                    icon.css('color', '#FFB800');
                    break;
                default:
                    $(window).on('resize');
                    menuDom.animate({'left': '0'}, 'fast');
                    body.animate({'left': menuWidth}, 'fast');
                    icon.removeClass(left).addClass(right);
                    icon.css('color', '#009688');
            }
        }
    });
</script>
</body>
</html>